@(message: String, requestForm: Form[Request])

@import helper._

@main("Welcome to SEM", message) {
<div id="container">
	<div id='dpanel' style='display:none;'></div>
	<div id="overlay" class="shadow center ui-corner-all">
		<input id="query" type="text" name="query" class="text ui-widget-content ui-corner-all" value="" placeholder="Enter name of artist or location or venue here..." title="e.g. Volbeat, Lady Gaga, Mannheim, Germany" />
		</input>
		<div id="type" class="ui-widget">
			<input type="radio" id="artist" name="type" value="artist">
			<label for="artist" title="With this option all the events performed by a certain artists will be displayed">Artist</label>
			<input type="radio" id="radius" name="type" value="radius">
			<label for="radius" title="In radius mode this will show you all the events next to location you enter">Radius</label>
			<input type="radio" id="venue" name="type" value="venue">
			<label for="venue" title="This will return all the events taking place in the entered venue.">Venue</label>
		</div >

		<button id="submit" class="ui-state-default ui-corner-all ui-state-hover">
			<span class=" ui-icon ui-icon-play" title="Send Query"> OK </span>
		</button>

	</div>
	<div id='map' style='width:800; height:500px;'></div>
</div>
}