@(message: String, requestForm: Form[Request])

@import helper._

@main("Welcome to SEM", message) {
<h3>@message</h3>
<div id="overlay">
	@form(action = routes.Application.processQuery(), 'id -> "requestForm") {
	@inputText(requestForm("query"))
	@for(error <- requestForm("query").errors) {
	<p>
		@error.message
	</p>
	}
	@inputRadioGroup(requestForm("type")
	, options = Seq("Event"->"Event","Location"->"Location")
	, '_error -> requestForm("type").error.map(_.withMessage("select query type")))
	@for(error <- requestForm("type").errors) {
	<p>
		@error.message
	</p>
	}
	<input type="submit" value="Submit">

	}
</div>
<script type="application/javascript">
	/// handle input of form
	$(function() {
		$('#requestForm').submit(function(evt) {
			evt.preventDefault()
			$.ajax({
				url : "/request",
				method : "post",
				async : true,
				dataType : "json",
				data : {
					query : $("#query").val() + "",
					type : $("input[type=radio]:checked").val()
				},
				success : function(a, b, c) {
					console.log("success");
					console.table(a);
				},
				error : function(a, b) {
					console.log("fail");
					console.table(a)
				}
			});
		});
	}); 
</script>
<div id="map" style="width:800; height:500px;" />
}